@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Noto+Sans+Arabic:wght@100;200;300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bdd269;
    font-family: 'Cairo', sans-serif;
    font-family: 'Noto Sans Arabic', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#root{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    width: 40%;
    padding: 20px 40px;
    background-color: #001429;
    color: white;
    border-radius: 10px;
    box-shadow: 2px 6px 15px rgba(0, 0, 0, 0.2);
}

header{
    padding: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 19px;
    font-weight: 500;
}

header a{
    color: #bdd269;
    text-decoration: none;
}